@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1625225233840-695456021cde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2FsY3VsYXRvcnxlbnwwfHwwfHw%3D&w=1000&q=80");
}
.container{
    border-radius: 0.5em;
    width: 26%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding:0.5em ;
    background-color: rgb(40, 45, 49);
}
button{
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-color: blueviolet;
}
button:hover{
    opacity: 0.8;
    color: white;
}
.Display_Screen{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0.5em;
}

.Display_Screen input{
    border-radius: 0.2em;
    width: 19em;
    height: 2.4em;
    font-size: 1em;
    border: none;
    font-family: 'Orbitron', sans-serif;
}
.Display_Screen input:hover{
    cursor: auto;
}
.Display_Screen input:focus{
    outline: none;
}
.Display_Screen button{
    width: 2.5em;
    height: 3em;
    cursor: pointer;
    border: none;
    border-radius: 0.2em;
    background-color: rgb(240, 25, 79);
}
.keys{
    margin: auto;
    margin-bottom: 0.5em;
}
.keys div{
    display: inline;
    justify-content: center;
    align-items: center;
}
.keys button{
    margin-top: 1em;
    width: 7.3em;
    height: 3em;
    border-radius: 0.3em;
    border: none;
    cursor: pointer;
}
.keys button.op{
    width: 2.5em;
    height: 3em;
}
.keys button#equal{
    background-color: rgb(240, 25, 79);
}